html { font-family: 'Roboto', sans-serif;
font-size: 1.2rem;
line-height: 1.45;
}

body{
	padding: 3rem;
	background-color: lightgrey;
	font-weight: 300;
}

* + * {
	margin-block-start: 1rem;
}

h1,h2,h3 {
	font-family: Barlow;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.8rem;
}

footer {
text-align: center;
padding: 0;
margin-bottom: 3rem;
}

strong {font-weight: 400;}

#title{color: rgb(1, 59, 59);}

a {
	color: dodgerblue;
	text-decoration: underline;
}

em {
	font-style: italic;
	color:darkslategrey;
}

h1 {font-weight: 500;}

h2 {font-weight: 400;
text-transform: uppercase;
border-bottom: 0.07rem solid;
padding-top: 1rem;
opacity: 15%;
}

h3 {font-weight: 250;}

blockquote {color: rgb(47, 116, 15);
	padding: 2rem;
}

mark {
	background-color: yellow;
	}

li:nth-child(1) {font-size: 0.8rem;}
li:nth-child(2) {font-size:1.2rem;}
li:nth-child(3) {font-size:1.4rem;}
li:nth-child(4) {font-size:1.4rem;}
li:nth-child(5) {font-size:1.5rem;}
li:nth-child(6) {font-size:2.0rem;}
li:nth-child(7) {font-size:2.2rem;}
li:nth-child(8) {font-size:3rem;}

.custom-underline {
	text-decoration: underline;
}
