html {
	font-family: var(--font-body);
}

:root {

	/*colors*/
--color-fg: #13261b;
--color-bg: #f5f6f3;
--color-brand: #0b3d24;
--color-accent: #557060;
--color-accent2:#6f6f6f;
--color-highlight:#b6f2c6;

/*fonts*/
--font-body:'Roboto', sans-serif;
--font-display:'Barlow';
--font-mono: var(--font-body);

/*sizing*/
--size-xlg: 4rem;
--size-lg: 3rem;
--size-md: 2rem;
--size-sm: 1.8rem;
--size-xsm:1rem;

color: var(--color-fg);
font-size: calc(var(--size-md)/1.5);
line-height: 1.45;
max-inline-size: 120ch;
margin-inline: auto;
}


body{
	padding: calc(var(--size-xlg)*1.6);
	background-color: var(--color-bg);
	font-weight: 375;
}


h1,h2,h3 {
	font-family: var(--font-display);
}

h1 {
	font-size: calc(var(--size-xlg) * 1.4) ;
}

h2 {
	font-size: var(--size-md);
}

h3 {
	font-size: var(--size-sm);
}

footer {
	text-align: center;
	padding: 0;
	margin-bottom: var(--size-lg);
}

strong {font-weight: 400;}


a {
	color: dodgerblue;
	text-decoration: underline;
}

em {
	font-style: italic;
	color: var(--color-brand);
}

header{
	padding-bottom: var(--size-xlg);

}

h1 {font-weight: 500;
	text-transform: uppercase;
	border-bottom: calc(var(--size-xsm) / 3) solid;
	padding-top: var(--size-xsm);
	margin-bottom: var(--size-sm);
}

h2 {font-weight: 400;
	color: var(--color-accent2);
	text-transform:capitalize;
	border-bottom: calc(var(--size-xsm)/(100/7)) solid;
	padding-top: var(--size-xsm);
	position: sticky;
	inset-block-start:0;
	background-color: var(--color-bg);
	padding-block: var(--size-xsm)
}

h3 {font-weight: 550;
}

blockquote {color: var(--color-accent);
	line-height: 1.4rem;
	padding-inline-start: var(--size-lg);
	padding-block-end: var(--size-xsm);
	border-inline-start: calc(var(--size-xsm) / 4) solid var(--color-brand);
	border-radius:calc(var(--size-xsm) / 6);
	margin-block: var(--size-sm);
}

mark {
	background-color: var(--color-highlight);
	}

li:nth-child(1) {font-size: 0.8rem;}
li:nth-child(2) {font-size:1.2rem;}
li:nth-child(3) {font-size:1.4rem;}
li:nth-child(4) {font-size:1.4rem;}
li:nth-child(5) {font-size:1.5rem;}
li:nth-child(6) {font-size:2.0rem;}
li:nth-child(7) {font-size:2.2rem;}
li:nth-child(8) {font-size:3rem;}

.custom-underline {
	text-decoration: underline;
}

* + * {
	margin-block-start: var(--size-xsm);
}

#title {color: var(--color-brand);
}
